@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

.container {
  max-width: 1240px;
}

h1,
h2,
h3 {
  color: #01100A;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 67.2px;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.01em;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 46.87px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 37.2px;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
  }

  h3 {
    font-size: 20px;
    line-height: 25.4px;
  }
}

.shake {
  border-radius: 0 80px 0 0;
}

.mentor-parent {
  background: #fff;
  height: 449.77px;
  left: 35.21px;
  border-radius: 15.51px;
  border: 1.5px;
  opacity: 0px;
  transform: rotate(3deg);
  border: 1.5px solid #F1FFFB;
  box-shadow: 0px 9.31px 15.51px 0px #0000001A;
}

.mentor-child {
  background: #fff;
  height: 434.26px;
  top: 20.66px;
  left: -0.38px;
  padding: 60px 19.97px 79.68px 18.07px;
  gap: 0px;
  border-radius: 15.51px;
  transform: rotate(-4deg);
  border: 1.5px solid #F1FFFB;
  box-shadow: 0px 9.31px 15.51px 0px #0000001A;
  border: 1.5px;
}

.mentee {
  background: #FFFFFFE5;
  box-shadow: 0px 2px 4px 0px #0000000D;
  border: 1px solid #F1FFFB;
}

.mentee:hover {
  box-shadow: 0px 8px 10px 0px #0000000D;
  transition: all 0.5 ease-in;
}

.mentee:hover p:first-child {
  color: #01100A;
}

.mentee:hover p:last-child,
.mentee:hover p.cont {
  color: #006A50;
}

.testimonial-shadow {
  box-shadow: 0px 25px 50px -12px #0000001A;
}

.shadow-team {
  box-shadow: 0px 2px 4px 0px #0000000D;
}

.bg-custom-gradient {
  background: linear-gradient(92.49deg, #000000 0%, #1D1D1D 28.12%, #313131 48.45%, #000000 100%);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.border-grad {
  border: 1px solid transparent;
  /* Define a border, 'transparent' can be replaced with any color */
  border-image-source: linear-gradient(180deg, #D8FAF2 0%, rgba(1, 16, 10, 0.78) 100%);
  border-image-slice: 1;
  /* This slices the gradient at all corners and fills the border */
  border-radius: 15px;
  padding: 40px;
  border: 1px solid;
}

.sidebar {
  border-right: 2px solid var(--small-button, #F5F5F5);
  box-shadow: 2px 0px 2px 0px #0000000D;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-calendar {
  color: #006A50;
  font-weight: 600;
}

.react-calendar__navigation {
  display: flex;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 22px;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__month-view__weekdays {
  padding: 12px 0;
}

.react-calendar__month-view__days button {
  padding: 10px 0;
}

.react-calendar__month-view__weekdays__weekday {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

abbr:where([title]) {
  text-decoration: none !important;
  border-bottom: none !important;
}

.link:hover,
.active {
  border-right: 3px solid var(--Accent, #FFC145);
  background: #066921;
  color: #fff;
}

.link:hover img,
.active img,
.active1 img {
  filter: brightness(0) invert(1) !important;
}

button.bg-primary {
  background: linear-gradient(50.51deg, #0938CE -0.08%, #1385E6 111.62%) !important;
}

button.bg-primary:hover {
  background: #0938CE !important;
}

button.bg-transparent {
  border-color: linear-gradient(50.51deg, #0938CE -0.08%, #1385E6 111.62%) !important;
}

button.bg-transparent:hover {
  background: linear-gradient(50.51deg, #0938CE -0.08%, #1385E6 111.62%);
  color: #fff !important;
}