@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

.container {
  max-width: 1240px;
}

h1,
h2,
h3 {
  color: #01100A;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 67.2px;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.01em;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 50.4px;
  letter-spacing: -0.01em;
}

@media (max-width: 768px) {
  h1 {
      font-size: 30px;
      line-height: 37.2px;
    }
  
    h2 {
      font-size: 24px;
      line-height: 36px;
    }
  
    h3 {
      font-size: 20px;
      line-height: 25.4px;
    }
}

.mentor-parent {
  background: #fff;
  width: 418.75px;
    height: 449.77px;
    left: 35.21px;
    border-radius: 15.51px;
    border: 1.5px;
    opacity: 0px;
    transform: rotate(3deg);
    border: 1.5px solid #F1FFFB;
    box-shadow: 0px 9.31px 15.51px 0px #0000001A;
}
.mentor-child {
  background: #fff;
  width: 418.75px;
    height: 434.26px;
    top: 20.66px;
    left: -0.38px;
    padding: 152.51px 19.97px 79.68px 18.07px;
    gap: 0px;
    border-radius: 15.51px;
    transform: rotate(-4deg);
    border: 1.5px solid #F1FFFB;
    box-shadow: 0px 9.31px 15.51px 0px #0000001A;
    border: 1.5px ;
}

.mentee {
  background: #FFFFFFE5;
  box-shadow: 0px 2px 4px 0px #0000000D;
  border: 1px solid #F1FFFB;
}

.mentee:hover {
  box-shadow: 0px 8px 10px 0px #0000000D;
  transition: all 0.5 ease-in;
}

.mentee:hover p:first-child {
  color: #01100A;
}
.mentee:hover p:last-child {
  color: #006A50;
}

.testimonial-shadow {
  box-shadow: 0px 25px 50px -12px #0000001A;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
